In [1]:
import psycopg2
import sqlalchemy
import pandas as pd
import pymysql

In [14]:
%config IPCompleter.greedy=True

In [2]:
mysql_conn = pymysql.connect('***', '****', 
    '***@***', '****')

In [3]:
cur = mysql_conn.cursor()
cur.execute("SELECT VERSION()")

version = cur.fetchone()

print("Database version: {}".format(version[0]))

Database version: 5.7.25-0ubuntu0.16.04.2

In [4]:
from sqlalchemy import create_engine

engine = create_engine('postgresql+psycopg2://postgres:pg215@VM-AS494:5432/test')

In [5]:
my_refsheet вар 1,2,3,4,5 - поставить точки с запятой где надо соответственно =''' 
-- course_questionanswers
select * from mdl_course c
join ( -- hse partner filter
	SELECT  distinct pgr.courseid
	FROM mdl_local_hsenetpartner_manager m
	join mdl_local_hsenetpartner_partner p on p.id=m.partnerid
	join mdl_user u on m.userid=u.id
	join mdl_local_hsenetpartner_cassign ca on m.id=ca.managerid
	join mdl_local_hsenetpartner_contract co on co.id=ca.contractid
	join mdl_local_hsenetpartner_group pgr on pgr.contractid=ca.contractid
	join mdl_groups gr on gr.id=pgr.groupid and gr.courseid=pgr.courseid
	join mdl_course c on c.id=pgr.courseid
  ) pg on  pg.courseid=c.id
join  mdl_course_modules cm on c.id=cm.course  and cm.module=14
join mdl_course_sections cs on cs.id=cm.section
join mdl_quiz qz on qz.id=cm.instance and qz.attempts>0
join mdl_quiz_slots slt on slt.quizid=qz.id 
join mdl_question qst on qst.id=slt.questionid
join mdl_question_answers q_aw on q_aw.question=qst.id
'''

In [5]:
my_mdl_course = '''
select c.* from mdl_course c
join ( -- hse partner filter
	SELECT  distinct pgr.courseid
	FROM mdl_local_hsenetpartner_manager m
	join mdl_local_hsenetpartner_partner p on p.id=m.partnerid
	join mdl_user u on m.userid=u.id
	join mdl_local_hsenetpartner_cassign ca on m.id=ca.managerid
	join mdl_local_hsenetpartner_contract co on co.id=ca.contractid
	join mdl_local_hsenetpartner_group pgr on pgr.contractid=ca.contractid
	join mdl_groups gr on gr.id=pgr.groupid and gr.courseid=pgr.courseid
	join mdl_course c on c.id=pgr.courseid
  ) pg on  pg.courseid=c.id
'''

In [13]:
my_mdl_course_sections = '''
select distinct cs.* from mdl_course c
join ( -- hse partner filter
	SELECT  distinct pgr.courseid
	FROM mdl_local_hsenetpartner_manager m
	join mdl_local_hsenetpartner_partner p on p.id=m.partnerid
	join mdl_user u on m.userid=u.id
	join mdl_local_hsenetpartner_cassign ca on m.id=ca.managerid
	join mdl_local_hsenetpartner_contract co on co.id=ca.contractid
	join mdl_local_hsenetpartner_group pgr on pgr.contractid=ca.contractid
	join mdl_groups gr on gr.id=pgr.groupid and gr.courseid=pgr.courseid
	join mdl_course c on c.id=pgr.courseid
  ) pg on  pg.courseid=c.id
join  mdl_course_modules cm on c.id=cm.course  and cm.module=14
join mdl_course_sections cs on cs.id=cm.section
'''

In [19]:
my_mdl_quiz = '''
select distinct qz.* from mdl_course c
join ( -- hse partner filter
	SELECT  distinct pgr.courseid
	FROM mdl_local_hsenetpartner_manager m
	join mdl_local_hsenetpartner_partner p on p.id=m.partnerid
	join mdl_user u on m.userid=u.id
	join mdl_local_hsenetpartner_cassign ca on m.id=ca.managerid
	join mdl_local_hsenetpartner_contract co on co.id=ca.contractid
	join mdl_local_hsenetpartner_group pgr on pgr.contractid=ca.contractid
	join mdl_groups gr on gr.id=pgr.groupid and gr.courseid=pgr.courseid
	join mdl_course c on c.id=pgr.courseid
  ) pg on  pg.courseid=c.id
join  mdl_course_modules cm on c.id=cm.course  and cm.module=14
join mdl_quiz qz on qz.id=cm.instance and qz.attempts>0
'''

In [23]:
my_mdl_question = '''
select distinct qst.* from mdl_course c
join ( -- hse partner filter
	SELECT  distinct pgr.courseid
	FROM mdl_local_hsenetpartner_manager m
	join mdl_local_hsenetpartner_partner p on p.id=m.partnerid
	join mdl_user u on m.userid=u.id
	join mdl_local_hsenetpartner_cassign ca on m.id=ca.managerid
	join mdl_local_hsenetpartner_contract co on co.id=ca.contractid
	join mdl_local_hsenetpartner_group pgr on pgr.contractid=ca.contractid
	join mdl_groups gr on gr.id=pgr.groupid and gr.courseid=pgr.courseid
	join mdl_course c on c.id=pgr.courseid
  ) pg on  pg.courseid=c.id
join  mdl_course_modules cm on c.id=cm.course  and cm.module=14
join mdl_quiz qz on qz.id=cm.instance and qz.attempts>0
join mdl_quiz_slots slt on slt.quizid=qz.id 
join mdl_question qst on qst.id=slt.questionid
'''

In [24]:
mdl_question_answers = '''
select distinct q_aw.* from mdl_course c
join ( -- hse partner filter
	SELECT  distinct pgr.courseid
	FROM mdl_local_hsenetpartner_manager m
	join mdl_local_hsenetpartner_partner p on p.id=m.partnerid
	join mdl_user u on m.userid=u.id
	join mdl_local_hsenetpartner_cassign ca on m.id=ca.managerid
	join mdl_local_hsenetpartner_contract co on co.id=ca.contractid
	join mdl_local_hsenetpartner_group pgr on pgr.contractid=ca.contractid
	join mdl_groups gr on gr.id=pgr.groupid and gr.courseid=pgr.courseid
	join mdl_course c on c.id=pgr.courseid
  ) pg on  pg.courseid=c.id
join  mdl_course_modules cm on c.id=cm.course  and cm.module=14
join mdl_quiz qz on qz.id=cm.instance and qz.attempts>0
join mdl_quiz_slots slt on slt.quizid=qz.id 
join mdl_question qst on qst.id=slt.questionid
join mdl_question_answers q_aw on q_aw.question=qst.id
'''

In [6]:
my_urq = '''select 
c.id course_id, c.shortname cname, cs.id mid, cs.name m_name, qz.id quizid, qz.name quizname
, slt.slot aq_ord, qst.id qid, qst.questiontext
, qza.attempt, qza.state quizstate, qza.sumgrades, qza.userid, pg.groupid, pg.partnerid, pg.managerid
, qsta.id questionattemptid, qsta.questionusageid, qsta.questionsummary, qsta.rightanswer, qsta.responsesummary
, qstas.state, fraction response_score, attm_time
from mdl_course_modules cm
  join mdl_course c on c.id=cm.course
  join mdl_course_sections cs on cs.id=cm.section
  join mdl_quiz qz on qz.id=cm.instance and qz.attempts>0 -- оставляем только обязательные
  join mdl_quiz_slots slt on slt.quizid=qz.id
  join mdl_question qst on qst.id=slt.questionid
  join mdl_quiz_attempts qza on qza.quiz=qz.id
  join mdl_question_attempts qsta on qsta.questionid=qst.id and qza.uniqueid=qsta.questionusageid
  join (
    select questionattemptid, state, fraction, FROM_UNIXTIME(timecreated, '%Y-%m-%d %H:%i:%s') attm_time
    from mdl_question_attempt_steps 
    where  state like 'grade%' or state='gaveup'
  )  qstas on qstas.questionattemptid=qsta.id
  join  (
        SELECT  distinct pgr.courseid, pgr.groupid, m.partnerid, m.id managerid
        FROM mdl_local_hsenetpartner_manager m
        join mdl_local_hsenetpartner_partner p on p.id=m.partnerid
        join mdl_user u on m.userid=u.id
        join mdl_local_hsenetpartner_cassign ca on m.id=ca.managerid
        join mdl_local_hsenetpartner_contract co on co.id=ca.contractid
        join mdl_local_hsenetpartner_group pgr on pgr.contractid=ca.contractid
        join mdl_groups gr on gr.id=pgr.groupid and gr.courseid=pgr.courseid
        join mdl_course c on c.id=pgr.courseid
  ) pg on pg.courseid=c.id
  join mdl_groups_members gm on gm.groupid=pg.groupid and gm.userid=qza.userid 
and module=14 and qza.attempt=1 
order by cm.course, cs.id, instance,  slt.slot
'''

my_cube = '''-- all partner students steps & data
SELECT 
 pg.partnerid   -- , pg.managerid 
   , c.id course_id, pg.groupid -- , course_qza.cname
   , cs.id mid   -- , course_qza.m_name
   , qz.id qz_id
              -- , course_qza.qz_name
   , slt.slot aq_ord
   , qst.id qid
              -- , qst.questiontext
   , qza.id qza_id, qza.userid, qza.attempt, qza.sumgrades, qza.uniqueid
   , qa.id qa_id, qa.slot qa_slot, qa.questionusageid, qa.questionsummary, qa.rightanswer, qa.responsesummary
   , qas.id qas_id, qas.state qas_state, qas.sequencenumber qas_sequencenumber, qas.fraction response_score, FROM_UNIXTIME(qas.timecreated, '%Y-%m-%d %H:%i:%s') qas_attm_time
   , qasd.id qasd_id, qasd.name qasd_name, qasd.value qasd_value
           -- , max(qas.id) attemptstepid
FROM mdl_course c 
join  mdl_course_modules cm on c.id=cm.course and cm.module=14
join ( -- hse partner filter
	SELECT  distinct pgr.courseid, pgr.groupid, m.partnerid  -- , m.id managerid
	FROM mdl_local_hsenetpartner_manager m
	join mdl_local_hsenetpartner_partner p on p.id=m.partnerid
	join mdl_user u on m.userid=u.id
	join mdl_local_hsenetpartner_cassign ca on m.id=ca.managerid
	join mdl_local_hsenetpartner_contract co on co.id=ca.contractid
	join mdl_local_hsenetpartner_group pgr on pgr.contractid=ca.contractid
	join mdl_groups gr on gr.id=pgr.groupid and gr.courseid=pgr.courseid
	join mdl_course c on c.id=pgr.courseid
  ) pg on  pg.courseid=c.id
join mdl_course_sections cs on cs.id=cm.section
join mdl_quiz qz on qz.id=cm.instance and qz.attempts>0 -- оставляем только обязательные
join mdl_quiz_attempts qza on qza.quiz=qz.id
join mdl_groups_members gm on gm.groupid=pg.groupid and gm.userid=qza.userid 
JOIN mdl_question_usages qu ON qu.id = qza.uniqueid
JOIN mdl_question_attempts qa ON qa.questionusageid = qu.id
JOIN mdl_question_attempt_steps qas ON qas.questionattemptid = qa.id
JOIN mdl_question_attempt_step_data qasd ON qasd.attemptstepid = qas.id
join mdl_question qst on qa.questionid=qst.id
join mdl_quiz_slots slt on slt.quizid=qz.id and qst.id=slt.questionid
ORDER BY pg.partnerid, c.id, pg.groupid, qza.userid, qza.id, qza.attempt, qa.slot, qas.sequencenumber, qasd.name
'''

In [29]:
import datetime
def my2postgr(tabl_name, sql, date_lst=None):
    print( today.strftime("%Y-%m-%d:%H.%M.%S") ) 
    print('selecting...')
    tempdf = pd.read_sql(sql, con=mysql_conn, parse_dates=date_lst)
    print( today.strftime("%Y-%m-%d:%H.%M.%S") )
    print('loading...')
    tempdf.to_sql(tabl_name, engine, 'moodle_event', if_exists='replace')
    print(tabl_name, tempdf.shape)
    return tempdf

In [11]:
a=my2postgr('mdl_course', my_mdl_course)

selecting...
loading...
mdl_course (209, 31)

In [17]:
a=my2postgr('mdl_course_sections', my_mdl_course_sections)

selecting...
loading...
mdl_course_sections (2284, 10)

In [20]:
a=my2postgr('mdl_quiz', my_mdl_quiz)

selecting...
loading...
mdl_quiz (2580, 41)

In [28]:
my2postgr('mdl_question', my_mdl_question)

In [26]:
%%time
a=my2postgr('mdl_question_answers', mdl_question_answers)

selecting...
loading...
mdl_question_answers (137990, 7)
Wall time: 1min 33s

In [ ]:
%%time
a=my2postgr('sheet_moodle2', my_cube, date_lst=['qas_attm_time'])

In [7]:
%%time
qdf = pd.read_sql(my_cube, con=mysql_conn, parse_dates=['qas_attm_time'])

Wall time: 17min 53s

In [9]:
%%time
qdf.to_sql('sheet_moodle', engine, 'moodle_event', if_exists='replace')

Wall time: 34min 38s

In [8]:
qdf.shape

(2031752, 26)

In [29]:
cur.execute(my_cube)
s = cur.fetchone()
print(s)

(1570, 'ОтИс_СВ', 16386, 'Тема 1. Зачем изучать прошлое, или как устроена историческая наука?', 5116, 'Тест 1', 1, 82598, '<p>Назовите одну любую форму знания о прошлом.<br></p>', 1, 'finished', Decimal('8.00000'), Decimal('8.00000'), 1030115, 74442, 'Назовите одну любую форму знания о прошлом.\n\n', 'литература', 'Кино', 'gradedright', Decimal('1.0000000'), '2019-09-21 19:42:24')

In [ ]:
%%time
cur.execute(my_cube)
rows = cur.fetchall()

i = 0
for row in rows:
    print(row)
    i += 1
    if i>10:
        break